{{ define "main" }}
<main>
   
    <a href="scenic">
        <div class="bg-gray-200 dark:bg-gray-900">
            <div class="max-w-screen-xl px-4 py-8 mx-auto">
                <div class="grid items-center gap-8 mb-8 sm:mb-0 lg:gap-12 lg:grid-cols-12">
                    <div class="col-span-6 px-4 text-center sm:mb-6 lg:text-left lg:mb-0">
                  
                        <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl">
                            Scenic Design
                        </h2>
                        <p class="max-w-xl mx-auto mb-6 font-normal text-gray-900 lg:mx-0 xl:mb-2 md:text-lg xl:text-xl dark:text-gray-50">
                           
                        </p>
                    </div>
                    <div class="col-span-6">
                        {{ $hero := resources.GetMatch "images/100.jpg" }}
    
                        {{ $thumb := ($hero.Fill "400x400 webp q90") }}
                        {{ $large := ($hero.Fill "576x576 webp q90") }}
    
                        <img srcset="
                            {{- with $thumb.RelPermalink -}}{{.}} 400w{{- end -}}
                            {{- with $large.RelPermalink -}}, {{.}} 576w{{- end -}}" src="{{ $hero.RelPermalink }}" width="100%" height="" alt="TailBliss Hero" class="w-full max-w-xl mx-auto rounded-lg" />
                    </div>
                </div>
            </div>
        </div>
    </a>

    <a href="/photography/">
        <div class="bg-gray-200 dark:bg-gray-900">
            <div class="max-w-screen-xl px-4 py-8 mx-auto">
                <div class="grid items-center gap-8 mb-8 sm:mb-0 lg:gap-12 lg:grid-cols-12">
                 
                    <div class="col-span-6">
                        {{ $hero := resources.GetMatch "images/100.jpg" }}
    
                        {{ $thumb := ($hero.Fill "400x400 webp q90") }}
                        {{ $large := ($hero.Fill "576x576 webp q90") }}
    
                        <img srcset="
                            {{- with $thumb.RelPermalink -}}{{.}} 400w{{- end -}}
                            {{- with $large.RelPermalink -}}, {{.}} 576w{{- end -}}" src="{{ $hero.RelPermalink }}" width="100%" height="" alt="TailBliss Hero" class="w-full max-w-xl mx-auto rounded-lg" />
                    </div>
                    <div class="col-span-6 px-4 text-center sm:mb-6 lg:text-left lg:mb-0">
                  
                        <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl">
                            Photography
                        </h2>
                        <p class="max-w-xl mx-auto mb-6 font-normal text-gray-900 lg:mx-0 xl:mb-2 md:text-lg xl:text-xl dark:text-gray-50">
                           
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </a>

 <a href="/handpainting/">
    <div class="bg-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto">
            <div class="grid items-center gap-8 mb-8 sm:mb-0 lg:gap-12 lg:grid-cols-12">
                <div class="col-span-6 px-4 text-center sm:mb-6 lg:text-left lg:mb-0">
              
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl">
                        Handpainting
                    </h2>
                    <p class="max-w-xl mx-auto mb-6 font-normal text-gray-900 lg:mx-0 xl:mb-2 md:text-lg xl:text-xl dark:text-gray-50">
                       
                    </p>
                </div>
                <div class="col-span-6">
                    {{ $hero := resources.GetMatch "images/100.jpg" }}

                    {{ $thumb := ($hero.Fill "400x400 webp q90") }}
                    {{ $large := ($hero.Fill "576x576 webp q90") }}

                    <img srcset="
                        {{- with $thumb.RelPermalink -}}{{.}} 400w{{- end -}}
                        {{- with $large.RelPermalink -}}, {{.}} 576w{{- end -}}" src="{{ $hero.RelPermalink }}" width="100%" height="" alt="TailBliss Hero" class="w-full max-w-xl mx-auto rounded-lg" />
                </div>
            </div>
        </div>
    </div>
 </a>





</main>
{{ end }}